.App {
  text-align: center;
}
h2 {
  text-align: center;
}
div.ex3 {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: auto;
}
div.gfg { 
  /* margin:5px; 
  padding:5px; 
  width: 500px; 
  height: 1110px; 
  overflow: auto; 
  text-align:justify;  */
  background-color: lightblue;
  width: 540px;
  height: 450px;
  overflow: auto;
  /* margin:50px;  */
}

div.one{
  margin-top: 52px;
}
.header{
  position: fixed;
}